			<!-- Header -->
            <header id="header" class="alt">
                <h1><a href="index.html">Home</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="#" class="icon solid fa-angle-down">Menü</a>
                            <ul>
                                <li><a href="Breitenberg.html">Breitenberg</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option One</a></li>
                                        <li><a href="#">Option Two</a></li>
                                        <li><a href="#">Option Three</a></li>
                                        <li><a href="#">Option Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="button">Anmelden</a></li>
                    </ul>
                </nav>
            </header>